{% extends 'base.html' %}

{% block title %}Logout Effettuato{% endblock title %}

{% block content %}
<div class="container my-5 d-flex justify-content-center align-items-center min-vh-75">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card shadow-lg rounded-card p-5 text-center">
            <h1 class="fw-bold text-success mb-4">Logout Effettuato con Successo!</h1>
            <p class="lead text-secondary-emphasis mb-4">Sei stato disconnesso dal tuo account.</p>
            
            <div class="mt-4">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg rounded-pill px-4 me-3">Accedi di Nuovo</a>
                <a href="{% url 'HomePage' %}" class="btn btn-outline-secondary btn-lg rounded-pill px-4">Torna alla Homepage</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}