{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg rounded-card p-4">
                <h4 class="mb-4">Scegli nome categoria</h4>
                <form method="post">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
            <div class="row justify-content-between">
                <div class="col">
                    <a href="{% url 'categories_list' %}" class="mt-2 btn btn-secondary">Indietro</a>
                </div>
                <div class="col">
                    {% if category.pk %}
                    <a href={% url 'delete_category' category.pk %} class="mt-2 btn btn-danger">Elinina categoria</a>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock content %}