{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg rounded-card p-4">
                <h4 class="mb-4">Dati del prodotto</h4>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
            <a href="{% url 'store_manager_dashboard' %}" class="mt-2 btn btn-secondary">Indietro</a>
        </div>
    </div>
{% endblock content %}