{% extends 'checkout/checkout_base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block checkout_content %}
    <div class="col-lg-6">
        <div class="card shadow-lg rounded-card p-4">
            <h4 class="mb-4">Aggiungi un nuovo indirizzo di spedizione</h4>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success btn-lg rounded-pill w-100 mt-4">Aggiungi</button>
            </form>
        </div>
    </div>
{% endblock checkout_content %}